<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Team 2 - Car Management Dashboard</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
	<!-- Bootstrap Icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!-- Fontawesome Icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<style></style>
</head>

<body>
	<div class="my-sidebar">
		<div class="logo-box mx-auto mt-3"></div>
		<div class="sidebar-btn">
			<div class="nav-img mt-3">
				<img src="/images/fi_home.png" class="w-100 img-fluid" alt="">
			</div>
			<div class="sidebar-text text-center text-white">
				<p class="fw-normal" style="font-size: 12px;font-weight: 300;">Dashboard</p>
			</div>
		</div>
		<div class="sidebar-btn">
			<div class="nav-img">
				<img src="/images/fi_truck.png" class="w-100 img-fluid" alt="">
			</div>
			<div class="sidebar-text text-center text-white">
				<p class="fw-bold " style="font-size: 14px;">Cars</p>
			</div>
		</div>
	</div>
	<div class="batas">
		<div class="d-flex" id="wrapper">
			<!-- Sidebar-->
			<div class=" bg-white" id="sidebar-wrapper">
				<div class="sidebar-heading p-3">
					<div class="logo-text"></div>
				</div>
				<div class="list-group list-group-flush">
					<a class="nav-sidebar p-3 text-decoration-none"
						style="font-size: 16px;font-weight: 700;color: #8A8A8A;" href="#!">Cars</a>
					<a class="nav-sidebar p-3 text-decoration-none"
						style="font-size: 16px;font-weight: bold;color: black;" href="#!">List Car</a>
				</div>
			</div>
			<!-- End sidebar -->
			<!-- Page content wrapper-->
			<div id="page-content-wrapper">
				<!-- Top navigation-->
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container-fluid">
						<button id="sidebarToggle" style="border: none;background-color: transparent;"><i
								class="fa-solid fa-bars fa-lg"></i></button>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation"><span
								class="navbar-toggler-icon"></span></button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
								<form class="d-flex bg-light">
									<div class="input-group-text mb-1">
										<span
											style="background-color: white !important; padding-right: 10px; padding-bottom: 3px;"><svg
												xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="grey"
												class="bi bi-search" viewbox="0 0 16 16">
												<path
													d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
												</path>
											</svg></span>
										<input type="text" class="form-control-plaintext" placeholder="Search"
											aria-label="Search" aria-describedby="basic-addon1">
										<button class="btn btn-outline-primary" type="submit">Search</button>
									</div>
								</form>
								<li class="nav-item dropdown">
									<div class="ms-3 d-flex">
										<img src="/images/icon_profil.png" class="rounded-circle" alt=""
											style="width: 38px; height: 38px; object-fit: cover;">
										<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
											data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
											style="padding-left: 15px;padding-right: 10px;">Unis Badri</a>
										<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="#!">Profile</a>
											<a class="dropdown-item" href="#!">Setting Profile</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#!">Sign Out</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- end top navigation -->

				<!-- Section -->
				<div id="content" class="container-fluid pt-4 ps-4">
					<!-- breadcrumbs -->
					<nav aria-label="breadcrumb" class="">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Cars</li>
							<li class="breadcrumb-item" aria-current="page">List Car</li>
							<li class="breadcrumb-item active" aria-current="page">Add New Car</li>
						</ol>
					</nav>
					<!-- End breadcrumbs -->

					<!-- form add car -->
					<div class="container-fluid">
						<div class="add-cars">
							<h1>Add New Car</h1>
							<div class="form-cars">
								<form>
									<div class="container-fluid">
										<div class="form-group row mt-4">
											<label for="col Form-Label-sm"
												class="col-sm-2 col-form-label col-form-label-sm">Nama</label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="input-name"
													placeholder="Avanza" />
											</div>
										</div>
										<div class="form-group row mt-4">
											<label for="colFormLabelSm"
												class="col-sm-2 col-form-label col-form-label-sm">Sewa Per Hari</label>
											<div class="col-sm-5">
												<input type="number" class="form-control" id="input-price"
													placeholder="Rp 0,-" />
											</div>
										</div>
										<div class="form-group row mt-4">
											<label for="colFormLabelSm"
												class="col-sm-2 col-form-label col-form-label-sm">Ukuran</label>
											<div class="col-sm-5">
												<select class="form-select" id="input-tipe">
													<option selected>Pilih Ukuran</option>
													<option value="Small">Small</option>
													<option value="Medium">Medium</option>
													<option value="Large">Large</option>
												</select>
											</div>
										</div>
										<div class="form-group row mt-4">
											<label for="colFormLabelSm"
												class="col-sm-2 col-form-label col-form-label-sm">Foto</label>
											<div class="col-sm-5">
												<div class="input-group">
													<input type="file" class="form-control" id="input-images"
														placeholder="" multiple />
													<div class="input-group-text"
														style="padding-left: 15px;padding-right: 15px;">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
															fill="currentColor" class="bi bi-upload"
															viewBox="0 0 16 16">
															<path
																d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
															</path>
															<path
																d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z">
															</path>
														</svg>
													</div>
												</div>
												<label for="colFormLabelSm"
													class="col-sm-7 col-form-label col-form-label-sm">File size
													max.2MB<label>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="container-click-button">
							<button onclick="window.location.href='/dashboard/'" type="button"
								class="btn btn-light">Cancel</button>
							<button onclick="inputCar()" type="button" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
				<!-- end form -->
			</div>
		</div>

		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<!-- Core theme JS-->
		<script src="/js/main.js"></script>
		<script src="/js/app.js"></script>
</body>

</html>