<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Team 2 - Car Management Dashboard</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
	<!-- Bootstrap Icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!-- Fontawesome Icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<style></style>
</head>
<% %>

	<body onload="notification('<%=addDataStatus %>')">
		<div class="my-sidebar">
			<div class="logo-box mx-auto mt-3"></div>
			<div class="sidebar-btn">
				<div class="nav-img mt-3">
					<img src="/images/fi_home.png" class="w-100 img-fluid" alt="">
				</div>
				<div class="sidebar-text text-center text-white">
					<p class="fw-normal" style="font-size: 12px;font-weight: 300;">Dashboard</p>
				</div>
			</div>
			<div class="sidebar-btn">
				<div class="nav-img">
					<img src="/images/fi_truck.png" class="w-100 img-fluid" alt="">
				</div>
				<div class="sidebar-text text-center text-white">
					<p class="fw-bold " style="font-size: 14px;">Cars</p>
				</div>
			</div>
		</div>
		<div class="batas">
			<div class="d-flex" id="wrapper">
				<!-- Sidebar-->
				<div class=" bg-white" id="sidebar-wrapper">
					<div class="sidebar-heading p-3">
						<div class="logo-text"></div>
					</div>
					<div class="list-group list-group-flush">
						<a class="nav-sidebar p-3 text-decoration-none"
							style="font-size: 16px;font-weight: 700;color: #8A8A8A;" href="#!">Cars</a>
						<a class="nav-sidebar p-3 text-decoration-none"
							style="font-size: 16px;font-weight: bold;color: black;" href="#!">List Car</a>
					</div>
				</div>
				<!-- End Sidebar -->

				<!-- Page content wrapper-->
				<div id="page-content-wrapper">
					<!-- Top navigation-->
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<button id="sidebarToggle" style="border: none;background-color: transparent;"><i
									class="fa-solid fa-bars fa-lg"></i></button>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation"><span
									class="navbar-toggler-icon"></span></button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
									<form class="d-flex bg-light">
										<div class="input-group-text mb-1">
											<span
												style="background-color: white !important; padding-right: 10px; padding-bottom: 3px;"><svg
													xmlns="http://www.w3.org/2000/svg" width="15" height="15"
													fill="grey" class="bi bi-search" viewBox="0 0 16 16">
													<path
														d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
													</path>
												</svg></span>
											<input type="text" id="input-search" class="form-control-plaintext"
												placeholder="Search" aria-label="Search"
												aria-describedby="basic-addon1">
											<button onclick="search()" class="btn btn-outline-primary"
												type="submit">Search</button>
										</div>
									</form>
									<li class="nav-item dropdown">
										<div class="ms-3 d-flex">
											<img src="/images/icon_profil.png" class="rounded-circle" alt=""
												style="width: 38px; height: 38px; object-fit: cover;">
											<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
												role="button" data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"
												style="padding-left: 15px;padding-right: 10px;">Unis Badri</a>
											<div class="dropdown-menu dropdown-menu-end"
												aria-labelledby="navbarDropdown">
												<a class="dropdown-item" href="#!">Profile</a>
												<a class="dropdown-item" href="#!">Setting Profile</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#!">Sign Out</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					<!-- end top navigation -->

					<!-- Section -->
					<div id="content" class="container-fluid pt-4 ps-4">
						<div class="notif" id="notif" style="height: 200px; width: 70%;background-color: greenyellow;"
							hidden></div>
						<!-- breadcrumbs -->
						<nav aria-label="breadcrumb" class="">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"> Cars </li>
								<li class="breadcrumb-item active" aria-current="page">List Car</li>
							</ol>
						</nav>
						<!-- End breadcrumbs-->
						<!-- button car -->
						<div class="add-cars">
							<div class="flex-container button-add"
								style="margin-bottom: 0px;border-bottom-width: 0px;padding-bottom: 0px;height: 50px;">
								<h1 style="margin-top: 0px;">List Car</h1>
								<button type="button" onclick='window.location.href="/dashboard/add"'
									class="btn btn-primary">
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
										class="bi bi-plus-lg" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z">
										</path>
									</svg>
									Add New Car
								</button>
							</div>
							<div class="d-flex">
								<button onclick="window.location.href='/dashboard/'" class="btn button" type="submit"
									style="margin-left: 10px; width: 50px; height: 40px; color: #0D28A6; background-color: white; border: 2px #0D28A6 solid">All</button>
								<button onclick="window.location.href = '/dashboard?p=Small'" class="btn button"
									type="submit"
									style="margin-left: 10px; width: 70px; height: 40px; color: #0D28A6; background-color: white; border: 2px #0D28A6 solid">Small</button>
								<button onclick="window.location.href = '/dashboard?p=Medium'" class="btn button"
									type="submit"
									style="margin-left: 10px; width: 77px; height: 40px; color: #0D28A6; background-color: white; border: 2px #0D28A6 solid">Medium</button>
								<button onclick="window.location.href = '/dashboard?p=Large'" class="btn button"
									type="submit"
									style="margin-left: 10px; width: 70px; height: 40px; color: #0D28A6; background-color: white; border: 2px #0D28A6 solid">Large</button>
							</div>
							<!-- end button car -->
							<!-- card car -->
							<div class="row">
								<% data.forEach(cars=> { %>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<div class="card " style="margin-top: 2rem">
											<img src="/images//uploads/<%=cars.image%>" class="card-img-top"
												style="height: 250px; padding: 36px; " alt="Ford">
											<div class="card-body">
												<p>
													<%=cars.name %> / <%=cars.size %>
												</p>
												<h5 class="card-title bold" style="margin-bottom: 1.3rem">Rp
													<%=cars.price %> / hari
												</h5>
												<div class="" style="margin-bottom: 1rem">
													<img src="/images/fi_clock.png" alt="" class="m-2">Updated at
													<%=cars.updatedAt %>
												</div>
												<div class='d-flex mt-2 justify-content-between'>
													<button onclick="deleteCar('<%=cars.id %>')" type="button"
														class="btn btn-outline-danger" data-bs-toggle="modal"
														data-bs-target="#myModal"
														style="width: 170px; height: 60px; color: red; background-color: white; border: 2px red solid">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
															fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
															<path
																d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
															</path>
															<path fill-rule="evenodd"
																d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
															</path>
														</svg>
														Delete
													</button>
													<button
														onclick="window.location.href='/dashboard/update/<%=cars.id%>'"
														type="button" class="btn btn-success"
														style="margin-left:30px; width: 170px; height: 60px;border: 2px #3b883e solid;">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
															fill="currentColor" class="bi bi-pencil-square"
															viewBox="0 0 16 16">
															<path
																d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
															</path>
															<path fill-rule="evenodd"
																d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
															</path>
														</svg>
														Edit
													</button>
												</div>
											</div>
										</div>
									</div>
									<%}); %>
							</div>
							<!-- end card car -->
						</div>
					</div>
					<!-- End Section -->
				</div>

				<!-- The Modal -->
				<div class="modal fade" id="myModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-body align-items-center text-center m-auto">
								<img src="./images/img-BeepBeep.png" alt="" class="m-auto">
								<h3 class="fw-bold my-4">Menghapus data mobil</h3>
								<p class="mb-4" style="max-width: 300px;">
									Setelah dihapus, data mobil tidak dapat dikembalikan. yakin ingin menghapus?
								</p>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ya</button>
								<button type="button" class="btn btn-light" data-bs-dismiss="modal">Tidak</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Bootstrap core JS-->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
				<!-- Core theme JS-->
				<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
				<!-- Core theme JS-->
				<script src="/js/main.js"></script>
				<script src="/js/app.js"></script>
				<script></script>
	</body>

</html>