@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
}

.batas {
  width: 100%;
  /* padding-right: 15px; */
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .notfound .notfound-404 {
    height: 142px;
  }
  .notfound .notfound-404 h1 {
    font-size: 112px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 576px) {
  .my-sidebar {
    display: none;
  }
}

/* sidebar */
.my-sidebar {
  background-color: #0d28a6;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
}

.logo-text {
  width: 100px;
  height: 34px;
  background-color: #cfd4ed;
}

.logo-box {
  background-color: #cfd4ed;
  width: 34px;
  height: 34px;
}

.nav-img {
  margin: 0 auto;
  width: 24px;
}

.tes {
  border: 1px solid red;
}

.sidebar-text {
  font-size: 12px;
}

.sidebar-btn:hover {
  background-color: #cfd4ed;
  cursor: pointer;
}

.nav-sidebar:hover {
  background-color: #cfd4ed;
  cursor: pointer;
}

#content {
  background-color: #f4f5f7;
  height: 100vh;
}
/* End sidebar */

/* navbar for search and profile */
.d-flex form {
  border-radius: 0px;
}

.input-group-text { 
  border-radius: 0;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

.input-group-text btn {
  border-radius: 50px;
}

.btn-outline-primary {
  color: blue;
  border-color: blue;
  border-radius: 0px;
}

.nav-link dropdown {
  padding-left: 10px;
}
/* End navbar */

/* Body Car */
.breadcrumb-item {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.add-cars h1 {
  margin-top: 30px;
}

.btn-light {
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  border-radius: 2px;
  background: #ffffff;
  position: relative;
  bottom: 600px;
}

.btn {
  padding: 8px 12px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  bottom: 0;
  left: 0;
}

.btn-primary {
  background: #0d28a6;
  border-radius: 2px;
  margin-left: 20px;
}

.form-cars {
  background: #ffffff;
  padding-top: 5px;
  padding-bottom: 15px;
}

.svg {
  color: #8a8a8a;
}

.input-group-text {
  background-color: #ffffff;
}

.btn-outline-primary {
  color: blue;
  border-color: blue;
  border-radius: 0px;
}

.flex-container { 
  display: flex; 
  height:400px; 
  flex-flow: column wrap;
  align-content: space-between; 

} 

.flex-container > div {  
  width: 100px; 
  margin: 10px; 
  text-align: center; 
  line-height: 75px; 
  font-size: 30px;
} 

.container-click-button {
  padding-top: 130px;
  background-color: #f4f5f7;
}
/* End Body Car */

/* Alert */
.alert {
  padding: 20px;
}

.massage-update {
  background-color: greenyellow;
  border-inline-color: green;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px; 
}

.massage-delete {
  background-color: black;
  border-inline-color: black;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px; 
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* End Alert */

/* btn modal */
.btn-medium {
  width: 87px;
  height: 36px;
  font-size: 14px;
}

.modal-body img{
  width: 153px;
  height: 121px;
  right: 0;
  left: 0;
}

/* 404 */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound h1 {
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../images/404.png") no-repeat;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
  box-shadow: 0px 4px 15px -5px #0046d5;
}

.gallery-clearfix {
  position: absolute;
  min-width: min-content;
  width: 100px;
  height: 70px;
  object-fit: none
}
